html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: white; /* vermelho */
  color: black;
}

.main-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  
  border-radius: 0;
}

.cardapio-lista {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 0;
  background-color: #f44336;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-container input {
  padding: 10px;
  font-size: 16px;
  border-radius: 0;
  border: 1px solid white;
  background-color: white;
  color: black;
}

.login-container input:focus {
  outline: none;
  border-color: white;
}

.login-container button {
  padding: 10px;
  background-color: #b71c1c;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-container button:hover {
  background-color: white;
}

/* Header vermelho */
.MuiAppBar-root {
  background-color: #b71c1c !important;
  box-shadow: none !important;
  border-bottom: none !important; /* caso tenha alguma borda também */
}
